//
//  MathEagle.xcconfig
//  MathEagle
//
//  Created by Rugen Heidbuchel on 24/05/15.
//  Copyright (c) 2015 Jorestha Solutions. All rights reserved.
//
//  The idea for the private module to use Objective-C code in this swift
//  framework comes from Daniel Eggert (danieleggert on GitHub).
//  You can take a look at his mixed-swift-objc-framework repository.
//  See https://github.com/danieleggert/mixed-swift-objc-framework

SWIFT_INCLUDE_PATHS = $(SRCROOT)/MathEagle
MODULEMAP_PRIVATE_FILE = $(SRCROOT)/MathEagle/MathEagle.private.modulemap